<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3" style="color:#4d4144;"><i class="fas fa-sign-in-alt"></i> Create a Poll !</h1>
        <br>
        
        <!-- <% include ./partials/messages %> -->
        <form action="" method="POST">
          <div class="form-group">
            <label for="title">My Polls</label>
            
            <ul>
                <% for(var person of all_polls) { %>
                    <li><%= person.title %> <p><a target="_blank" href="<%= link %>/poll/submit/<%= person.id %>">Share</a></p> </li>
                    <p><a href="<%= link %>/poll/delete/<%= person.id %>" >Delete</a></p>
                    <p><a href="<%= link %>/poll/view/<%= person.id %>" target="_blank">View</a></p>
                <% } %>
            </ul>

        </form>

        <br>

        <a href="/poll/create/<%= userID %>" class="button" >Create Poll</a>

      </div>
    </div>
  </div>
  